*{
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.cp{
    color: white;
    font-size: 15px;
    background-color: #000000;
    padding-block: 1%;
    p{
        text-align: center;
    }
}